/* all */

* {
    --myBlack: #333;
    --myGreen: #0ba39c;
    --myGreenHover: #41c7c0;
    --myBlue: #073471;
    --myYellow: #CFCB4B;
    --myOrange: #E5AE53;
    --myRed: #D25742;
    font-family: sans-serif;
    box-sizing: border-box;
}

::selection {
    background-color: var(--myYellow);
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

.spacer {
    height: 30px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

img {
    border-radius: 2px;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#logo {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.active {
    color: var(--myGreen);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    font-family: 'Staatliches' , sans-serif;
    text-decoration: none;
    color: var(--myBlack);
    font-size: 30px;
    padding: 10px;
}

nav a:hover {
    color: var(--myGreen);
} 

nav li {
    list-style-type: none;
    display: inline;
    padding: 2em;
}

nav ul {
    padding: 0;
}

#veggie-burger {
    text-align: center;
    margin: 20px auto;
}

#veggie-burger i {
    font-size: 40px;
    color: #333;
}

@media (min-width: 600px) {
    #veggie-burger {
        display: none;
    }
    #nav-menu {
        display: flex;
    }
}

@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #veggie-burger {
        display: initial;
    }
    #nav-menu {
        display: none;
    }
    nav li {
        padding: .5em;
    }
    #logo {
        width: 8em;
    }
}

/* index */

.title {
    font-family: 'Sansita Swashed', sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    color: var(--myBlack);
    background: white;
    padding: 20px;
    margin: 20px 55vw 30px 10vw;
    display: inline flex;
    flex-wrap: wrap;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hero {
    height: 100vh;
    background-image: url("images/beard-trim-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero p {
    background: #333;
    color: white;
    font-size: 20px;
    margin: auto 55vw 20px 10vw;
    padding: 10px;
    display: inline flex;
    flex-wrap: wrap;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.button {
    background: linear-gradient(#99dfdb, #41c7c0);
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 1.2em;
    margin: auto 55vw 20px 10vw;
    border-radius: 30px;
}

.button:hover {
    background: var(--myGreenHover);
    background: linear-gradient (#41c7c0, #00fff2);
}

.button a {
    text-decoration: none;
}

.beard-types {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

.beard-types img {
    width: 300px;
    margin: 10px;
    border-radius: 2px;
    opacity: 0.9;
}

.beard-types p {
    margin-top: 0;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    color: #333;
}

.beard-types img:hover {
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.man-having-beard-trimmed {
    display: none;
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headline {
    font-family: 'Sansita Swashed' , sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    padding: 0px 10px 10px 10px;
    color: white;
    background: var(--myBlack);
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.headline-2 {
    font-family: 'Sansita Swashed' , sans-serif;
    letter-spacing: 5px;
    padding: 10px;
    color: var(--myBlack);
}

.red {
    color: var(--myRed);
}

.blue {
    color: var(--myBlue);
}

.orange {
    color: var(--myOrange);
}

.about img {
    width: 30%;
}

.about p {
    text-align: justify;
    margin: auto 15%;
}

.about p:last-of-type {
    margin-bottom: 40px;
}

.about .headline-2:nth-of-type(1) {
    color: var(--myRed);
}

.about .headline-2:nth-of-type(2) {
    color: var(--myBlue);
}

.about .headline-2:nth-of-type(3) {
    color: var(--myOrange);
}

#index-read-more-btn {
    text-align: center; 
}

@media (max-width: 600px) {
    .title {
        font-size: 1.2em;
        margin: auto 10vw 20px 10vw;
    }
    .hero {
        background: #333;
    }
    .hero p {
        font-size: 16px;
        margin: auto 15vw 20px 15vw;
        box-shadow: none;
    }
    .hero .spacer:nth-of-type(1) {
        display: none;
    }
    .button {
        font-size: 14px;
    }
    .man-having-beard-trimmed {
        display: block;
        width: 100vw;
        margin-top: 0;
    }
    #index-read-more-btn {
        margin-top: 90px;
    }
}

/* gallery page */

.gallery {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery img {
    opacity: 0.9;
    border-radius: 2px;
}

.gallery img:hover {
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
@media (max-width: 600px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
@media (max-width: 576px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}


/* contact page */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"], input[type="email"], textarea {
    width: 60vw;
    border: solid 3px #999;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
  }

input:focus, textarea:focus {
    border: solid 3px #333;
    outline: none;
}

textarea {
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

::placeholder {
    text-align: center;
    font-size: 18px;
}

.contact button {
    cursor: pointer;
}


/* blog */

.black-button {
    background: var(--myBlack);
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    border: none;
    margin: 10px;
    border-radius: 40px;
}

.black-button:hover {
    background:#444;
    color: white;
}

.reset-button {
    background: #AAA;
    color: #333;
}

.reset-button:hover {
    background: tomato;
}

.blog-card {
    display: flex;
    margin: 30px 10%;
    border: 1px solid #333;
    height: 300px;
    border-radius: 2px;
}

.blog-card h2 {
    font-family: sans-serif;
}

.blog-card img:hover {
    opacity: 0.95;
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
}

.flex {
    display: flex;
    justify-content: center;
}

.load-more {
    font-size: 50px;
    color: #555;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .blog-card-content {
        padding: 10px;
    }
    .blog-card h2, .blog-card p {
        margin-bottom: 0px;

    }
}

@media (max-width: 700px) {
    .blog-card {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .blog-card img {
        margin-top: 40px;
    }
    .blog-card-content {
        align-items: center;
        padding: 20px;
    }
}
  
@media (max-width: 700px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--myBlack);
    padding-bottom: 8px;
}

.social-links {
    padding: 10px;
    margin-top: 10px;
}

.social-links a {
    color: #999;
}

.fab {
    padding: 10px 10px 0px 10px;
    font-size: 25px;
}

.fab:hover {
    color: #BBB;
}

footer p {
    color: var(--myGreen);
    font-style: italic;
    font-size: 14px;
}